<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <% if (erreur) { %>
    <p style="color: red;"><%= erreur %></p>
  <% } %>
  <h1>Liste des admin</h1>
  <table border="1">
    <thead>
      <tr>
        <th colspan="3">Administrateur</th>
      </tr>
    </thead>
    <tr>
      <th>Username :</th>
      <th> Autorisation :</th>
    
      
      <th>Action</th>

    </tr>
  
    <% for (const user of admins) { %>
      <form action="/authAdmin" method="post" name="authForm">
        <tr>
          <th><%= user.username %></th>
          <th>
            <% if(current_authLevel >= auth_changer_authLevel && user.authLevel<100 ){  %>
            <select name="authVal" onchange="submitForm(this)">
              
              <option value="1" <%= user.authLevel === 1 ? 'selected' : '' %>>1</option>
              <option value="2" <%= user.authLevel === 2 ? 'selected' : '' %>>2</option>
              <option value="3" <%= user.authLevel === 3 ? 'selected' : '' %>>3</option>
              <option value="3" <%= user.authLevel === 3 ? 'selected' : '' %>>4</option>
            </select>
            <input type="hidden" name="usernameToChangeAuthLevel" value="<%= user.username %>">
            <% } else{  %>
              <%= user.authLevel %>
            <% } %>
          </th>
          
          <% if(current_authLevel >= auth_supprimer_admin && user.authLevel<100 ){  %></100>
          <th>
            
            <button type="button" onclick="deleteAdmin('<%= user.username %>')">-</button>
          </th>
          <% } %>
        </tr>
      </form>
    <% } %>
    <% if(current_authLevel >= auth_ajouter_admin){  %>
    <tr>
      <form action="/authAdmin" method="post" name="modifierValeurForm">
        <tr>
            <th><input type="text" name="usernameToChangeAuthLevel" placeholder="username"></th>
            <th>
                <select name="authVal">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                </select>
            </th>
            <th><button type="submit">+</button></th>
        </tr>
    </form>
  </tr>
  <% } %>
  </table>
    
  <script>
    function deleteAdmin(username) {
      if (confirm(`Voulez-vous vraiment supprimer l'admin ${username} ?`)) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/deleteAdmin';
        form.style.display = 'none';
  
        const input = document.createElement('input');
        input.type = 'text';
        input.name = 'usernameAdminToDelete';
        input.value = username;
        form.appendChild(input);
  
        document.body.appendChild(form);
        form.submit();
      }
    }
    function submitForm(select) {
    select.form.submit();
  }
  </script>
  
</body>
</html>